<footer class="container">
    <div class="inner">
        <p>© 2018 <a href="https://linhong.me">LINHONG.ME</a> - All right Reserved.</p>
        <p>Published with <a href="https://ghost.org/" target="_blank">Ghost</a> | Theme By idea</p>
    </div>
</footer>