
.post-inner {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 640px;
	padding: 0 16px;
	line-height: 2;
	color: #424b50;
	word-wrap: break-word;
	font-size: 16px;
	font-family: "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","Wenquanyi Micro Hei",sans-serif,"Apple Color Emoji";
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

.post-inner div,.post-inner p,.post-inner blockquote,.post-inner pre,.post-inner ul,.post-inner ol,.post-inner table,.post-inner figure,.post-inner section,.post-inner article,.post-inner header,.post-inner footer {
	margin: 0;
	padding: 0;
	margin-top: 16px;
	margin-bottom: 16px
}

.post-inner div:first-child,.post-inner p:first-child,.post-inner blockquote:first-child,.post-inner pre:first-child,.post-inner ul:first-child,.post-inner ol:first-child,.post-inner table:first-child,.post-inner figure:first-child,.post-inner section:first-child,.post-inner article:first-child,.post-inner header:first-child,.post-inner footer:first-child {
	margin-top: 0
}

.post-inner div:last-child,.post-inner p:last-child,.post-inner blockquote:last-child,.post-inner pre:last-child,.post-inner ul:last-child,.post-inner ol:last-child,.post-inner table:last-child,.post-inner figure:last-child,.post-inner section:last-child,.post-inner article:last-child,.post-inner header:last-child,.post-inner footer:last-child {
	margin-bottom: 0
}

.post-inner ul div,.post-inner ol div,.post-inner ul p,.post-inner ol p,.post-inner ul blockquote,.post-inner ol blockquote,.post-inner ul pre,.post-inner ol pre,.post-inner ul ul,.post-inner ol ul,.post-inner ul ol,.post-inner ol ol,.post-inner ul table,.post-inner ol table,.post-inner ul figure,.post-inner ol figure,.post-inner ul iframe,.post-inner ol iframe,.post-inner ul section,.post-inner ol section,.post-inner ul article,.post-inner ol article,.post-inner ul header,.post-inner ol header,.post-inner ul footer,.post-inner ol footer {
	margin-top: 0;
	margin-bottom: 0
}

.post-inner>iframe {
	display: block;
	margin-top: 16px;
	margin-bottom: 16px
}

.post-inner>img,.post-inner>video {
	margin-top: 16px;
	margin-bottom: 16px;
	display: block
}

.post-inner h1,.post-inner h2,.post-inner h3,.post-inner h4,.post-inner h5,.post-inner h6 {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 0
}

.post-inner h1:first-child,.post-inner h2:first-child,.post-inner h3:first-child,.post-inner h4:first-child,.post-inner h5:first-child,.post-inner h6:first-child {
	margin-top: 0
}

.post-inner>h1,.post-inner>h2, .post-inner>h3,.post-inner>h4,.post-inner>h5,.post-inner>h6 {
	margin-top: 32px
}

.post-inner h1+*,.post-inner h2+*,.post-inner h3+*,.post-inner h4+*,.post-inner h5+*,.post-inner h6+* {
	margin-top: 0
}

.post-inner h1,.post-inner h2,.post-inner h3,.post-inner h4,.post-inner h5,.post-inner h6 {
	font-weight: inherit;
	color: #424b50;
	background-color: transparent
}

.post-inner h1 a,.post-inner h2 a,.post-inner h3 a,.post-inner h4 a,.post-inner h5 a,.post-inner h6 a {
	color: #424b50
}

.post-inner h1 a,.post-inner h2 a,.post-inner h3 a,.post-inner h4 a,.post-inner h5 a,.post-inner h6 a,.post-inner h1 em,.post-inner h2 em,.post-inner h3 em,.post-inner h4 em,.post-inner h5 em,.post-inner h6 em,.post-inner h1 u,.post-inner h2 u,.post-inner h3 u,.post-inner h4 u,.post-inner h5 u,.post-inner h6 u,.post-inner h1 abbr[title],.post-inner h2 abbr[title],.post-inner h3 abbr[title],.post-inner h4 abbr[title],.post-inner h5 abbr[title],.post-inner h6 abbr[title] {
	border-bottom-color: #424b50
}

.post-inner h1 {
	font-size: 28px;
	line-height: 48px;
	text-align: left
}

.post-inner h2 {
	font-size: 21px;
	line-height: 32px;
	text-align: left
}

.post-inner h3 {
	font-size: 18px;
	line-height: 32px;
	text-align: left
}

.post-inner h4,.post-inner h5,.post-inner h6 {
	line-height: 32px;
	font-size: 16px;
	text-align: left
}

.post-inner blockquote {
	position: relative;
	padding: 0 0 0 11px;
	margin: 16px 0;
	font-family: STKaiti,KaiTi,serif;
	border-left: 5px solid #c3cace
}

.post-inner li blockquote {
	margin-left: -21px
}

.post-inner pre {
	padding: 15px 16px;
	line-height: 16px;
	font-size: 14px;
	white-space: pre;
	word-wrap: normal;
	overflow: auto;
	font-family: consolas,monaco,monospace;
	border: 1px solid #e1e1e8;
	background-color: #f7f7f9
}

.post-inner ul,.post-inner ol {
	padding-left: 32px
}

.post-inner ul li,.post-inner ol li {
	margin: 0;
	padding: 0;
	list-style-position: outside
}

.post-inner ul li {
	list-style-type: square
}

.post-inner ul li ul li {
	list-style-type: disc
}

.post-inner ul li ul li ul li {
	list-style-type: circle
}

.post-inner ol li {
	list-style-type: decimal
}

.post-inner ol li ol li {
	list-style-type: upper-roman
}

.post-inner ol li ol li ol li {
	list-style-type: lower-roman
}

.post-inner li>ul,.post-inner li>ol {
	padding-left: 32px
}

.post-inner hr {
	position: relative;
	padding-top: 32px;
	margin-top: -2px;
	margin-bottom: 64px;
	height: 0;
	background: none;
	border: none;
	border-bottom: 2px dashed #888
}

.post-inner hr:before,.post-inner hr:after {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 30%;
	height: 2px;
	pointer-events: none
}

.post-inner hr:before {
	left: 0;
	background-image: -webkit-linear-gradient(right, rgba(255,255,255,0) 0, #fff 80%, #fff 100%);
	background-image: -moz-linear-gradient(right, rgba(255,255,255,0) 0, #fff 80%, #fff 100%);
	background-image: -ms-linear-gradient(right, rgba(255,255,255,0) 0, #fff 80%, #fff 100%);
	background-image: -o-linear-gradient(right, rgba(255,255,255,0) 0, #fff 80%, #fff 100%);
	background-image: linear-gradient(right, rgba(255,255,255,0) 0, #fff 80%, #fff 100%)
}

.post-inner hr:after {
	right: 0;
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0, #fff 80%, #fff 100%);
	background-image: -moz-linear-gradient(left, rgba(255,255,255,0) 0, #fff 80%, #fff 100%);
	background-image: -ms-linear-gradient(left, rgba(255,255,255,0) 0, #fff 80%, #fff 100%);
	background-image: -o-linear-gradient(left, rgba(255,255,255,0) 0, #fff 80%, #fff 100%);
	background-image: linear-gradient(left, rgba(255,255,255,0) 0, #fff 80%, #fff 100%)
}

.post-inner table {
	display: table;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	min-width: 336px;
	border-collapse: collapse;
	border-spacing: 0;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	-ms-border-radius: .5em;
	-o-border-radius: .5em;
	border-radius: .5em
}

.post-inner table caption {
	padding: 0
}

.post-inner table thead th {
	text-align: left
}

.post-inner table tbody {
	margin: 0 16px
}

.post-inner table tbody tr:nth-child(odd) td,.post-inner table tbody tr:nth-child(odd) th {
	background-color: #f9f9f9
}

.post-inner table tbody tr:last-child td,.post-inner table tbody tr:last-child th {
	padding-bottom: 6px
}

.post-inner table td,.post-inner table th {
	padding: 8px 16px 7px;
	border: 1px solid #ddd
}

.post-inner iframe {
	vertical-align: text-bottom
}

.post-inner a {
	padding-bottom: .025em;
	color: #069;
	text-decoration: none;
	border-bottom-color: #08c
}

.post-inner a:focus {
	outline: thin dotted
}

.post-inner a:visited {
	color: #551a8b;
	border-bottom-color: #551a8b
}

.post-inner a:hover {
	border-bottom-width: 1px;
	border-bottom-style: solid
}

.post-inner a:hover,.post-inner a:active {
	outline: 0
}

.post-inner b,.post-inner strong {
	font-weight: bold
}

.post-inner u {
	padding-bottom: .05em;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: inherit;
	border-bottom: 1px solid #8b98a0
}

.post-inner u+u {
	margin-left: .125em
}

.post-inner em {
	font-style: inherit;
	font-weight: inherit;
	text-decoration: inherit;
	-webkit-text-emphasis: filled circle;
	-moz-text-emphasis: filled circle;
	-ms-text-emphasis: filled circle;
	text-emphasis: filled circle;
	-webkit-text-emphasis-position: under;
	-moz-text-emphasis-position: under;
	-ms-text-emphasis-position: under;
	text-emphasis-position: under
}

.post-inner code {
	font-family: monospace;
	font-size: inherit;
	color: #424b50;
	background-color: transparent
}

.post-inner pre code {
	padding: 0;
	margin: 0;
	font-family: consolas,monaco,monospace;
	font-size: 14px;
	color: #424b50;
	background: none;
	border: none
}

.post-inner img,.post-inner video {
	max-width: 100%;
	border: 0
}

.post-inner figure img {
	display: block;
	margin: 0 auto
}

.post-inner figure figcaption {
	display: block;
	text-align: center;
	font-style: italic
}

.post-inner cite {
	font-style: inherit
}

.post-inner cite:before,.post-inner cite:after {
	content: "《";
	line-height: inherit
}

.post-inner cite:after {
	content: "》"
}

.post-inner abbr[title] {
	padding-bottom: .05em;
	cursor: help;
	border-bottom: 1px dotted #424b50
}

.post-inner dfn {
	font-style: italic
}

.post-inner mark {
	background: #ff0;
	color: #424b50
}

.post-inner q {
	quotes: "\201C" "\201D" "\2018" "\2019"
}

.post-inner small {
	font-size: 80%
}

.post-inner sub,.post-inner sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

.post-inner sup {
	top: -0.5em
}

.post-inner sub {
	bottom: -0.25em
}

.post-inner #disqus_thread {
	margin-top: 32px
}